
/* Contraste */

body.contraste .menu-container, body.contraste ul#navigation {
    background: #000;
}


body.contraste #content .cover-richtext-tile h2 {
    background: none;
    border-bottom: 3px solid;
}
body.contraste .box-ar-2016.mtop15 {
    background: #000;
    border: none;
}
body.contraste,
body.contraste #header,
body.contraste #footer,
body.contraste #main,
body.contraste ul.css-tabs a,
body.contraste .timeline,
body.contraste .timeline a,
body.contraste #content .poll-tile
{
    color: #fff !important;
    background: #000 !important;
}
body.contraste #accessibility span
{
    
    color: #000 !important;
    background: #fff !important;
}
body.contraste a,
body.contraste h1,
body.contraste h2,
body.contraste h3,
body.contraste h4,
body.contraste h5,
body.contraste h6,
body.contraste #plone-document-byline,
body.contraste #doormat-container dt,
body.contraste #content .documentDescription,
body.contraste #content #description,
body.contraste .nitfByline,
body.contraste p.section,
body.contraste #portal-column-one > .nav-menu-de-relevancia .first-item-nav a,
body.contraste #portal-column-one > .nav-menu-de-relevancia .first-item-nav a span,
body.contraste .portletNavigationTree > .portletItem a span,
body.contraste #portal-breadcrumbs > span > span.breadcrumbSeparator,
body.contraste #portal-breadcrumbs a,
body.contraste #portal-breadcrumbs span,
body.contraste #content a:hover,
body.contraste dl.portlet a:hover,
body.contraste #category,
body.contraste #category-vcge,
body.contraste .tile-subtitle,
body.contraste .tile-content p,
body.contraste .tile p,
body.contraste .tile a,
body.contraste #content .gallery-element-metadata .title,
body.contraste .videogallery-tile .description,
body.contraste .item-central .link-central,
body.contraste #content #tile_banner_rotativo .title,
body.contraste #content #tile_banner_rotativo .descr,
body.contraste #content #tile_banner_rotativo .credito,
body.contraste #portal-siteactions a,
body.contraste #portal-siteactions a:hover,
body.contraste #logo #portal-logo,
body.contraste #logo #portal-title,
body.contraste .cover-collection-tile p,
body.contraste.template-summary_view #content .tileItem .subtitle,
body.folder_contraste.template-summary_view #content .tileItem .subtitle,
body.contraste.template-summary_view #content .tileItem .tileHeadline a,
body.folder_contraste.template-summary_view #content .tileItem .tileHeadline a,
body.contraste.template-summary_view #content .tileItem .description,
body.folder_contraste.template-summary_view #content .tileItem .description,
body.contraste.template-summary_view #content .tileItem .keywords,
body.folder_contraste.template-summary_view #content .tileItem .keywords,
body.contraste.template-summary_view #content .tileItem .documentByLine,
body.folder_contraste.template-summary_view #content .tileItem .documentByLine,
body.contraste #content .documentByLine .summary-view-icon,
body.contraste #content .subtitle,
body.contraste.template-summary_view #content .tileItem .keywords,
body.contraste.template-folder_summary_view #content .tileItem .keywords,
body.contraste.template-facetednavigation_view #content .tileItem .keywords,
body.contraste .videogallery-tile .subtitle,
body.contraste .outstanding-header .outstanding-link,
body.contraste #content .outstanding-header .outstanding-link:hover,
body.contraste .galleria-info-description,
body.contraste .galleria-info-title a,
body.contraste .galleria-info-title a:hover,
body.contraste .galleria-info-text .rights,
body.contraste .lista-vertical .tile-header h3,
body.contraste .lista-vertical .tile-header span,
body.contraste .cover-collection-tile .tile-header span,
body.contraste #content article div[property*='articleBody'] p,
body.contraste #content div.newsImageContainer p.discreet,
body.contraste #content article #viewlet-below-content-title .documentPublished,
body.contraste #content article #viewlet-below-content-title .documentModified,
body.contraste #content article #viewlet-below-content-title .contentHistory a,
body.contraste #content .pullquote,
body.contraste .cycle-player .cycle-overlay,
body.contraste #galeria_de_fotos,
body.contraste .galeria_container,
body.contraste #content .gallery-footer a,
body.contraste #content .gallery-footer a:hover,
body.contraste #content .poll-tile .tile-content-wrapper > form > input[type=radio] + span,
body.contraste #content .poll-tile .poll-tile-header > .header
{
    color: #fff !important;
}
body.contraste #content .poll-tile .tile-content-wrapper > h3
{
    border-bottom: 1px solid #fff;
    background-color: #000;
}
body.contraste #content .poll-tile .tile-content-wrapper > form > input[type=submit]
{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #000;
}
body.contraste .lista-horizontal,
body.contraste .portletHeader,
body.contraste .portletHeader a,
body.contraste dl.portlet dt a:visited,
body.contraste #doormat-container .doormatColumn,
body.contraste .mediacarousel,
body.contraste .galleria-thumbnails-container
{
    color: #fff !important;
    border-color: #fff !important;
    background: #000 !important;
}

body.contraste #portal-siteactions
{
    border-bottom: 1px dotted #fff;
}
body.contraste #sobre .portalservicos-item a
{
    border-right: 1px solid #fff;
}
body.contraste .lista-horizontal .collection-item,
body.contraste .width-8 .gallery-element-wrapper,
body.contraste .width-10 .gallery-element-wrapper,
body.contraste .gallery-2-columns .gallery-element-wrapper
{
    border-left: 1px dotted #fff;
}
body.contraste .lista-horizontal .tile-footer,
body.contraste .width-8 .galery-items,
body.contraste .width-10 .galery-items,
body.contraste .width-5 .galery-items,
body.contraste .gallery-2-columns .galery-items
{
    border-top: 1px solid #fff;
}
body.contraste .lista-horizontal .tile-header,
body.contraste #content .videogallery-tile .gallery-tile
{
    border-bottom: 1px solid #fff;
}
body.contraste .navTreeLevel0 > li.navTreeItemInPath,
body.contraste .navTreeLevel0 > li.navTreeCurrentNode
{
    border-top: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
}
body.contraste .navTreeLevel0 > li.navTreeItemInPath,
body.contraste .navTreeLevel0 > li.navTreeCurrentNode,
body.contraste .navTreeLevel1,
body.contraste dl.portlet ul.navTreeLevel1 .navTreeItem,
body.contraste dl.portlet ul.navTreeLevel1 .navTreeItem,
body.contraste #galeria_de_fotos,
body.contraste .galeria_container,
body.contraste .slideshow-carrossel
{
    background-color: #000;
}

body.contraste #footer .footer-logos,
body.contraste #sobre
{
    background: #333;
}

body.contraste .mediacarousel .mediacarousel-footer-container .mediacarousel-footer-link
{
    background-position: right 0;
}
body.contraste #portal-searchbox
{
    border-color: #fff;
    background-color: #000;
}
body.contraste #portal-searchbox .searchField
{
    color: #fff !important;
    background-color: #000;
}
body.contraste #header input.searchButton
{
    background-color: #000;
    background-position: 0 2px;
}
body.contraste .outstanding-header .outstanding-title
{
    border-top: 2px solid #fff;
    border-bottom: 1px solid #fff;
}
body.contraste .outstanding-header
{
    border-top: 2px solid #fff;
    background: #000;
}

body.contraste .gallery-element
{
    border-bottom: 1px dotted #fff;
}
body.contraste .width-16 .gallery-3-columns .player-holder,
body.contraste .width-15 .gallery-3-columns .player-holder
{
    border-right: 1px dotted #fff;
}
b1ody.contraste .videogallery-tile
{
    border: 1px solid #fff;
}2
body.contraste .videogallery-tile .gallery-footer
{
    border-top: 1px dotted #fff;
    background-color: #000;
}

body.contraste #content .relatar-erros a:hover,
body.contraste #content .relatar-erros a:focus
{
    color: #3a3a3a !important;
    background-position: 0 -21px;
}
body.contraste #content .relatar-erros a .texto
{
    color: #fff;
}
body.contraste #barra-brasil .link-barra
{
    color: #606060 !important;
}
body.contraste #content .summary-view-icon .icon-audio
{
    background-position: -383px -391px;
}
body.contraste #content .summary-view-icon .icon-day,
body.contraste #content .summary-view-icon .icon-agenda
{
    width: 13px;

    background-position: -624px -392px;
}
body.contraste #content .summary-view-icon .icon-image
{
    background-position: -503px -391px;
}
body.contraste #content .summary-view-icon .icon-hour
{
    background-position: -653px -393px;
}
body.contraste #content .summary-view-icon .icon-file
{
    width: 15px;

    background-position: -683px -393px;
}
body.contraste #content .summary-view-icon .icon-noticia,
body.contraste #content .summary-view-icon .icon-page
{
    background-position: -474px -391px;
}
body.contraste #content .summary-view-icon .icon-multimidia
{
    background-position: -413px -391px;
}
/* */
body.contraste .link-externo .tile-header,
body.contraste .link-externo .tile-title,
body.contraste .link-externo .tile-footer,
body.contraste .link-externo .collection-item.odd
{
    background: #000;
}
body.contraste .link-externo .collection-item.even
{
    background: #222;
}

body.contraste #content #faceted-form #faceted-right-column .faceted-daterange-widget-form input,
body.contraste #faceted-form #top-area .searchButton,
body.contraste #faceted-form #top-area input[type='text'],
body.contraste #faceted-right-column,
body.contraste .css-panes .pane,
body.contraste #search-results-bar
{
    color: #fff !important;
    border: 1px solid #fff !important;
    background-color: #000;
}
body.contraste #faceted-right-column .faceted-widget
{
    border-bottom: 1px dotted #fff;
}
body.contraste #search-results-bar > span:first-child
{
    color: #fff !important;
    background-color: #000;
}
body.contraste #faceted-form #top-area legend,
body.contraste #content #faceted-form label,
body.contraste #content #faceted-form .faceted-checkbox-item-disabled span,
body.contraste #content #faceted-form #faceted-right-column legend,
body.contraste.template-facetednavigation_view #content .tileItem .description,
body.contraste.template-facetednavigation_view #content .tileItem .keywords,
body.contraste #search-results > dl.searchResults > dd > span.discreet > span,
body.contraste #search-filter .field label
{
    color: #fff !important;
}
body.contraste .highlightedSearchTerm
{
    background-color: #919191;
}
/* */
body.contraste #portal-column-two dl.portlet a:link,
body.contraste #portal-column-two dl.portlet a:visited
{
    color: #eee !important;
}
body.contraste .ploneCalendar .todayevent,
body.contraste .ploneCalendar .todaynoevent
{
    font-weight: bold;

    border: 2px solid #fff;
    background-color: #000;
}
body.contraste .portletSearch,
body.contraste .portletCalendar,
body.contraste .portletCalendar .portletItem,
body.contraste .portletSearch .portletHeader,
body.contraste .portletCalendar .portletHeader,
body.contraste .portletSearch .portletFooter,
body.contraste .portletCalendar .portletFooter,
body.contraste .portletCollection
{
    background: #000 !important;
}
body.contraste #content .callout
{
    background: #333;
}
/* */
body.contraste #content .portalMessage
{
    color: #fff !important;
}
/* */
body.contraste #portal-sitemap .state-published
{
    color: #fff !important;
}


body.contraste #content li.formTab a.required span:after,
body.contraste #content-core li.formTab a.required span:after,
body.contraste div.field span.required:after
{
    content: '■';

    color: #fff;
}
body.contraste .formHelp
{
    color: #ddd;
}
/* */
body.contraste #content .banner-tile .copyright,
body.contraste #content .newsImageContainer .copyright,
body.contraste #content .mediacarousel .rights
{
    color: #fff;
}

/* */
body[class*='folder_summary_view'].contraste #content .tileItem .description
{
    color: #fff;
}
/* */
body.contraste #content .discreet,
body.contraste #sidebar .discreet
{
    color: #ddd;
}
/* */
body.contraste .pollresultholder .bar
{
    background: #fff !important;
}
body.contraste .tasksplease li
{
    background-color: #666;
}
/* */
body.contraste table.listing tbody th
{
    color: #fff;
    border-top: 4px solid #ccc !important;
    border-bottom: 1px solid #ccc!important;
    background: #000;
}
body.contraste table.listing tbody tr td
{
    background: #333;
}
body.contraste table.listing tbody tr.odd td
{
    background: #111;
}
/* */
body.contraste .ui-state-default,
body.contraste .ui-widget-content .ui-state-default,
body.contraste .ui-widget-header .ui-state-default
{
    background: #222;
}
body.contraste .ui-state-highlight,
body.contraste .ui-widget-content .ui-state-highlight,
body.contraste .ui-widget-header .ui-state-highlight
{
    color: #000 !important;
    border: #333;
    background: #fff;
}
body.contraste .ui-state-hover,
body.contraste .ui-widget-content .ui-state-hover,
body.contraste .ui-widget-header .ui-state-hover,
body.contraste .ui-state-focus,
body.contraste .ui-widget-content .ui-state-focus,
body.contraste .ui-widget-header .ui-state-focus
{
    color: #fff;
    background: #555;
}
body.contraste .ui-widget-header
{
    background: #000;
}
body.contraste .ui-datepicker .ui-datepicker-prev span,
body.contraste .ui-datepicker .ui-datepicker-next span
{
    background-color: #fff;
}
/* */
body.contraste div.managePortletsLink,
body.contraste a.managePortletsFallback
{
    background: #555;
}
body.contraste #edit-bar
{
    border: .25em solid #fff;
    background-color: #000;
}
body.contraste #content-views li.selected a,
body.contraste #content-views li a:hover,
body.contraste #content li.formTab a.selected,
body.contraste #content li.formTab a:hover,
body.contraste #content-core li.formTab a.selected,
body.contraste #content-core li.formTab a:hover,
body.contraste #portal-personaltools,
body.contraste #portal-personaltools dd
{
    background: #666;
}
body.contraste #contentActionMenus
{
    border: .25em solid #fff;
    border-top: none;
    background: #000;
}
body.contraste #contentActionMenus dl.actionMenu.activated dd a:hover,
body.contraste #contentActionMenus dl.actionMenu.activated dd .actionMenuSelected
{
    background-color: #666 !important;
}
body.contraste #portal-personaltools dd a:hover
{
    background: #999;
}
body.contraste dl.portalMessage,
body.contraste div.attention,
body.contraste div.caution,
body.contraste div.danger,
body.contraste div.error,
body.contraste div.hint,
body.contraste div.important,
body.contraste div.note,
body.contraste div.tip,
body.contraste div.warning,
body.contraste dl.portalMessage dt,
body.contraste div > .admonition-title
{
    border: 1px solid #fff;
    background-color: #000;
}
body.contraste #content a.link-overlay
{
    border-bottom: 1px dotted #fff !important;
}
body.contraste .layout .cover-tile,
body.contraste .tile-placeholder
{
    background-color: #666;
}
body.contraste .state-published
{
    color: #eee !important;
}
body.contraste table.listing td.draggable
{
    background: #333 !important;
}
body.contraste table.listing th
{
    color: #fff;
    border: #fff;
    background: #222;
}
body.contraste .current,
body.contraste .ui-widget-content,
body.contraste #sidebar.fixed
{
    background: #000;
}
body.contraste #content-views,
body.contraste #contentActionMenus dl.actionMenu a,
body.contraste #contentActionMenus dl.actionMenu.activated dd,
body.contraste #contentchooser-content-search,
body.contraste .warning > dd,
body.contraste .warning > .last,
body.contraste .pb-ajax,
.pb-image,
body.contraste .overlay iframe,
body.contraste .modal
{
    background-color: #000;
}
body.contraste #content ul.formTabs,
body.contraste .label,
body.contraste .badge
{
    background-color: #333;
}

body.contraste .content-core,
body.contraste #content p,
body.contraste #content a
{
    color: #fff !important;
}

div#LSResult
{
    display: none !important;
}

body.contraste #portal-searchbox input:focus,
body.contraste #boxCiencia,
body.contraste #boxCiencia .cover-basic-tile.tile-content,
body.contraste .footer-container,
body.contraste .portletItem .data-evento
{
    background: #000 !important;
}

body.contraste #portal-searchbox #searchGadget {
    width: 256px !important;
    position: relative;
    top: 3px !important;
}

body.contraste #content .cover-richtext-tile h2
{
    background-color: #000 !important;
}

body.contraste .cover-collection-tile.tile-content .collection-item
{
    background-color: #000 !important;
}

body.contraste .footerAssociacoes, body.contraste .informacao_curso, body.contraste .outros_sites, body.contraste .outros_sites_conheca a  
{
    color: #fff !important;
    background-color: #000 !important;
}

body.contraste .dia,
body.contraste .mes
{
    color: #fff !important;
    border-color: #fff !important;
}
body.contraste .barra-sup-container {
    background: #000 !important;
}

body.contraste .logo-portal .link-logo {
    filter: grayscale(1) invert(1) !important;  
    -webkit-filter:grayscale(1) invert(1) !important;
    -moz-filter: grayscale(1) invert(1) !important;
    -o-filter: grayscale(1) invert(1) !important;
    -ms-filter: grayscale(1) invert(1) !important;

}



body.contraste span.at-icon-wrapper {
    background-color: #FFF !important;
}

body.contraste svg.at-icon
{
    filter: grayscale(1) invert(1) !important;
    -webkit-filter: grayscale(1) invert(1) !important;
    -moz-filter: grayscale(1) invert(1) !important;; 
    -o-filter: grayscale(1) invert(1) !important; 
    -ms-filter: grayscale(1) invert(1) !important;
    
}

body.contraste div#portal-column-two img {
    filter: grayscale(1) invert(1) !important;
    -webkit-filter: grayscale(1) invert(0) !important;
    -moz-filter: grayscale(1) invert(1) !important;
    -o-filter: grayscale(1) invert(1) !important;
    -ms-filter: grayscale(1) invert(1) !important;
}

body.contraste #content ul li, body.contraste dl.portlet *
    {
        color: #fff !important;
    }
    


body.contraste .portletStaticText.portlet-static-menu-home img {
    -webkit-filter: grayscale(1) invert(1) !important;
    -moz-filter: grayscale(1) invert(1) !important;
    -o-filter: grayscale(1) invert(1) !important;
    -ms-filter: grayscale(1) invert(1) !important;
}

body.contraste .redes img {
    -webkit-filter: grayscale(1) invert(0) !important;
    -moz-filter: grayscale(1) invert(1) !important;
    -o-filter: grayscale(1) invert(1) !important;
    -ms-filter: grayscale(1) invert(1) !important;
}

body.contraste.section-sobre.subsection-campi-e-localizacao.subsection-campi-e-localizacao-campi-e-localizacao-1 iframe {
    -webkit-filter: grayscale(1) invert(0) !important;
    -moz-filter: grayscale(1) invert(1) !important;
    -o-filter: grayscale(1) invert(1) !important;
    -ms-filter: grayscale(1) invert(1) !important;
}


body.contraste .ambiente_virtual {
    background: #000;
}
body.contraste .bt_arestrito, body.contraste h4.atonline {
    filter: grayscale(1) invert(1) !important;
    -webkit-filter: grayscale(1) invert(1) !important;
    -moz-filter: grayscale(1) invert(1) !important;
    -o-filter: grayscale(1) invert(1) !important;
    -ms-filter: grayscale(1) invert(1) !important;
}



body.contraste .portletStaticText {
    border: 1px solid;
    padding: 0px;
}